<!-- profile.component.html -->
<div class="demo-container mt-4">
  <!-- Increased width -->
  <!-- Left Section: Customer Info -->
  <div class="nameNindutry-container">
    <h2 class="voiceName">Alex Murthy</h2>
    <p class="industryText">Customer Support: <span> Healthcare</span></p>
  </div>

  <!-- Center: Avatar with controls -->
  <div class="flex flex-col items-center my-6 mx-auto">
    <div class="relative">
      <!-- avatar Image -->
      <img src="https://randomuser.me/api/portraits/women/44.jpg" alt="Alex"
        class="w-40 h-40 flex align-center justify-center rounded-full border-4 border-gray-300 shadow-lg object-cover" />
      <div class="mx-auto flex justify-center my-4">
        <!-- active Btn -->
        <button (click)="handleVoiceDemoClick()"
          class="flex items-center justify-center w-14 h-14 bg-blue-500 text-white rounded-full shadow-lg hover:bg-blue-600">
          <i class="fa-solid " [ngClass]="3>2 ? 'fa-play' : 'fa-pause'"></i>
        </button>
      </div>
    </div>

    <!-- Bottom controls -->
    <div class="flex items-center gap-2 flex-wrap">
      <!-- <button *ngFor="let icon of bottomIcons" (click)="handleIconClick(icon)"
        class="flex items-center justify-center w-10 h-10 bg-gray-100 rounded-full shadow hover:bg-gray-200">
        {bottomIcons | json}
        <img [src]={icon} alt="...">
      </button> -->
      <button class="icon-container-wrapper"><span class="icon-container call-icon"></span></button>
      <button class="icon-container-wrapper"><span class="icon-container mute-icon"></span></button>
      <button class="icon-container-wrapper"><span class="icon-container end-call-icon"></span></button>
    </div>

  </div>

  <!-- Right Section: Other Agents -->
  <div class="absolute right-0 top-1/2 -translate-x-1/2 -translate-y-1/2 gap-2 flex flex-col">
    <img src="https://demo.gigaml.net/_next/static/media/SwapAgent.ab5b3fc7.svg" alt="..." class="voiceChange">
    <div *ngFor="let img of otherAgents" class="flex flex-col items-center">
      <img [src]="img" alt="Agent" class="w-12 h-12 rounded-full border-2 border-gray-200 hover:scale-115 cursor-pointer duration-300 ease-in-out" />
    </div>
  </div>
</div>