@import "tailwindcss";

:root {
    --borderColor: #747474;
    --borderColor-light: rgba(255, 255, 255, 0.4);
    --textColor: #242424;
    --bgGradient-pri: linear-gradient(180deg, #6850FF 0%, #AB69FE 100%);
}

body {
    // BG Screen
    background-color: #F7FAFC;
    // font styling
    color: #2d3748;
    font-weight: 400;
    font-size: 17px;
    line-height: 1.6;


    &::before,
    &::after {
        position: absolute;
        content: "";
        background: #8C6BFF;
        border-radius: 100%;
        filter: blur(200px);
        opacity: 0.2;
        width: 200px;
        height: 200px;
        z-index: 5;
    }

    &::before {
        top: 10%;
        left: 0;
    }

    &::after {
        bottom: 10%;
        right: 0;
    }

}

.demo-container {
    border: 1px solid var(--borderColor-light);
    border-radius: 16px;
    padding: 20px;
    background-color: #fff;
    // margin: auto;
    // background-color: #F0EFFF;
    position: relative;
    z-index: 10;
    height: 100%;
}

.nameNindutry-container {
    width: fit-content;
    padding-right: 10px;
}

.voiceName {
    font-size: 26px;
    font-weight: 600;
    text-transform: capitalize;
    margin: 0;
}

.industryText {
    font-size: 14px;
    font-weight: 400;
    margin-top: -7px;

    span {
        font-weight: 500;
    }
}

.voiceChange {
    width: 28px;
    height: 28px;
    margin: auto;

}


.icon-container-wrapper {
    --icon-width: 18px;
    width: calc(var(--icon-width) + 24px);
    height: calc(var(--icon-width) + 24px);
    border-radius: 99rem;
    border: 1px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--bgGradient-pri);
    transition: all .6s ease-in-out;
    scale: 1;

    &:hover {
        scale: 1.1;
    }

    .icon-container {
        position: relative;
        display: block;
        width: var(--icon-width);
        height: var(--icon-width);
        background-repeat: no-repeat !important;
        background-position: center !important;
        background-size: contain !important;
    }

}

.bg-gradient {
    color: #fff;
    background: var(--bgGradient-pri) !important;
}

.call-icon {
    background: url(../src/assets/img/icons/call.png);
}

.mute-icon {
    background: url(../src/assets/img/icons/mute.png);
}

.end-call-icon {
    background: url(../src/assets/img/icons/end-call.png);
}