@import "tailwindcss";

:root {
    --borderColor: #747474;
    --borderColor-light: rgba(255, 255, 255, 0.4);
    --textColor: #242424;
    --bgGradient-pri: linear-gradient(180deg, #6850FF 0%, #AB69FE 100%);
}

body {
    // BG Screen
    background-color: #F7FAFC;
    // font styling
    color: #2d3748;
    font-weight: 400;
    font-size: 17px;
    line-height: 1.6;


    &::before,
    &::after {
        position: absolute;
        content: "";
        background: #8C6BFF;
        border-radius: 100%;
        filter: blur(200px);
        opacity: 0.2;
        width: 200px;
        height: 200px;
        z-index: 5;
    }

    &::before {
        top: 10%;
        left: 0;
    }

    &::after {
        bottom: 10%;
        right: 0;
    }

}

.demo-container {
    border: 1px solid var(--borderColor-light);
    border-radius: 16px;
    padding: 20px;
    background-color: #fff;
    // margin: auto;
    // background-color: #F0EFFF;
    position: relative;
    z-index: 10;
    height: 100%;
}

.nameNindutry-container {
    width: fit-content;
    padding-right: 10px;
}

.voiceName {
    font-size: 26px;
    font-weight: 600;
    text-transform: capitalize;
    margin: 0;
}

.industryText {
    font-size: 14px;
    font-weight: 400;
    margin-top: -7px;

    span {
        font-weight: 500;
    }
}

.voiceChange {
    width: 28px;
    height: 28px;
    margin: auto;

}

.icon-container-wrapper {
    --icon-width: 46px;
    width: calc(var(--icon-width));
    height: calc(var(--icon-width));
    border-radius: 99rem;
    border: 1px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--bgGradient-pri);
    transition: all .6s ease-in-out;
    scale: 1;

    &:hover {
        scale: 1.1;
    }

    i {
        font-size: 18px;
    }

}

.bg-gradient {
    color: #fff;
    background: var(--bgGradient-pri) !important;
}


.connecting {
    width: fit-content;
    font-weight: 500;
    // margin: auto;
    // font-family: monospace;
    font-size: 14px;
    clip-path: inset(0 1.4ch 0 0);
    animation: l4 1s steps(4) infinite;
    // margin: auto;
}

.connecting:before {
    content: "Connecting..."
}

@keyframes l4 {
    to {
        clip-path: inset(0 -1ch 0 0)
    }
}

.signIn-btn {
    font-weight: 500;
    color: #fff;
    background-image: linear-gradient(180deg, #6850FF 0%, #AB69FE 100%);
    border-radius: 99rem;
    padding: 10px 24px;
    height: fit-content;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gradient-text {
    background: var(--bgGradient-pri);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}